<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyABot_YE_sRrO5J2kTg_9R2JM7-ODhx7yQ</string>
	<key>GCM_SENDER_ID</key>
	<string>181254586671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AU</string>
	<key>PROJECT_ID</key>
	<string>anotheruniverse-14332</string>
	<key>STORAGE_BUCKET</key>
	<string>anotheruniverse-14332.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181254586671:ios:2aba46e6bf3d52cbe9a1da</string>
	<key>DATABASE_URL</key>
	<string>https://anotheruniverse-14332-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>